* {
    font-family: "Courier New", Courier, monospace;
    background-color: #f6f9fc;
    color: #47525d;
    line-height: 130%;
}

/* Page centering */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Make sure each tile doesn't overlap */
.tile {
    display: inline-block;
}

/* Constrain image size */
.tile-body img {
    max-width: 200px;
    margin: 0 .5em .5em 0;
    float: left;
}