html {
    font-family: "Courier New", Courier, monospace;
    background-color: #f6f9fc;
    color: #47525d;
    line-height: 130%;
}

a {
    color: #47525d;
}

a:visited {
    color: #47525d;
}

h1 {
    padding-top: 1em;
}

/* Page centering */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Make sure each tile doesn't overlap */
div.tile {
    display: block;
    box-sizing: border-box;
    min-height: 2em;
    padding: 1em;
    margin: 0 0 1em 0;
    border: 1px solid rgba(0, 0, 0, .04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .03);
    border-radius: 3px;
    background-color: #FFFFFF;
}

div.tile h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.tile h3 i {
    font-size: smaller;
    float: right;
}

div.tile-header {
    margin-bottom: 0.5em;
}

/* Constrain image size */
.tile-body img {
    max-width: 200px;
    margin: 0 .5em .5em 0;
    float: left;
}