body {
  margin: 0px;
  background-color: #333;
}

html {
    background-color: #333;
}

div.flex_container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.normal_text {
  font-family: sans-serif, Optima, Segoe, "Segoe UI", Candara, Calibri, Arial;
  -webkit-text-stroke: .4px #505050;
  text-shadow: black .05em .05em .04em;
  font-size: 18px;
}

div#page_title {
  width: auto;
  text-align: center;
}

div#name_div {
  text-align: center;
  color: #888;
  font-size: 100pt;
}

div#nav_div {
  text-align: center;
  font-size: 25pt;
}

a {
  text-decoration: none;
}

a:link {
  color: #F90;
}

a:visited {
  color: #F90;
}

a:hover {
  color: #FFD700;
}

a:active {
  color: #FFD700;
}

div#about {
  width: auto;
  margin-right: 10%;
  margin-left: 10%;
}

div.section_title {
  color: #F90;
  font-size: 30pt;
}

img#about_pic {
  width: auto;
  height: auto;
  max-height: 170px;
}

div#about_pic_div {
  display: table-cell;
  position: relative;
}

div#about_body {
  display: inline;
  color: #888;
  font-size: 18pt;
}

div#return {
  margin-top: 2em;
  text-align: center;
  font-size: smaller;
}

.tile {
    background: #666;
    border-radius: 6px;

    box-shadow: 0 0 8px rgba(0,0,0,.15);

    margin: 0 10% 30px 10%;
    padding: 8px 16px 8px 16px;
    box-sizing: border-box;
    position: relative;
    vertical-align: top;
    transition: all 180ms ease-out;
    opacity: 1;
}
.tile:hover {
    box-shadow: 0 0 8px rgba(0,0,0,.35);
}
.tile:active {
    box-shadow: inset 0 0 4px rgba(50,50,50,.25);
}

div#project_header {
    padding: .5em 0 .5em 0;
    margin-left: 10%;
}
